// Widget
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

// widget message
.widget__message {
    margin:0;
    color: $off-white;
    padding: $l-size;
    text-align: center;
    border-bottom: 0.1rem solid lighten($light-blue,10%);
}

// widget header
.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    // use flex box
    display: flex;
    justify-content: space-between;
}

.widget-header__title{
    margin:0;
}