// widget header
.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    // use flex box
    display: flex;
    justify-content: space-between;
}

.widget-header__title{
    margin:0;
}